@page "/"

<PageTitle>Home</PageTitle>

<h1>Title</h1>

<body class="HomePage">
	<!--HOME START-->
	<div class="Home_logo">
		<div class="hl">
			<div class="home_content">

				<h2>A New Home For <br />
				Teams</h2>
				<p>Random ord kat gamerstol over bjerget du ved det din bøv Random ord kat gamerstol over bjerget du ved det din bøv</p>
				<a href="#" class="joinButton">Join Now</a> <!--Remember to add link to sign in or pay membership-->
			</div>
			<img src="Images/CSGO_HOME.png" alt="csgo" />
		</div>
	</div>

	<!--ABOUT US-->
	<div class="about">
		<div class="contentAbout">

			<h2>About Us</h2>
			<p> Random ord kat gamerstol over bjerget du ved det din bøv Random ord kat gamerstol over bjerget du ved det din bøv
				Random ord kat gamerstol over bjerget du ved det din bøv Random ord kat gamerstol over bjerget du ved det din bøv
				Random ord kat gamerstol over bjerget du ved det din bøv Random ord kat gamerstol over bjerget du ved det din bøv
				Random ord kat gamerstol over bjerget du ved det din bøv Random ord kat gamerstol over bjerget du ved det din bøv
			</p>
			<a href="#">Read more</a>
		</div>
		<img src="Images/about_us.png" alt="about us"/>
	</div>
</body>








@code{







}
